<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="layoutPattern">%level{ERROR=E, WARN=W, INFO=I, DEBUG=D, TRACE=T} %d{yyMMdd HHmmss.SSS} [%t] %notEmpty{%mdc }%c{1.} - %msg%n</Property>
        <Property name="logPattern">.%d{yyyyMMdd}.%i.log</Property>
        <Property name="maxFileSize">200 MB</Property>
        <Property name="totalFiles">100</Property>
    </Properties>

    <Appenders>
        <Console name="consoleLog" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}" />
            <ThresholdFilter level="TRACE" onMatch="ACCEPT"/>
        </Console>

        <RollingFile name="debugLog" fileName="log/debug.log" filePattern="log/debug${logPattern}">
            <PatternLayout pattern="${layoutPattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${maxFileSize}" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="${totalFiles}" />
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" />
        </RollingFile>

        <RollingFile name="infoLog" fileName="log/info.log" filePattern="log/info${logPattern}">
            <PatternLayout pattern="${layoutPattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${maxFileSize}" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="${totalFiles}" />
            <ThresholdFilter level="INFO" onMatch="ACCEPT"/>
        </RollingFile>

        <RollingFile name="errorLog" fileName="log/error.log" filePattern="log/error${logPattern}">
            <PatternLayout pattern="${layoutPattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${maxFileSize}" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="${totalFiles}" />
            <ThresholdFilter level="ERROR" onMatch="ACCEPT"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="consoleLog" />
        </Root>
    </Loggers>
</Configuration>